	
	.highlight1 {
	  background-color: #AADDAA;
	}
	.highlight2 {
	  background-color: #DDDD88;
	}
	.highlight3 {
	  background-color: #88DDDD;
	}
	.highlight4 {
	  background-color: #DDAAAA;
	}
	.highlight5 {
	  background-color: #AAAADD;
	}
